Assets/Fonts/NotoSansKR[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Fonts/NotoSansKR[[:space:]]SDF[[:space:]]1.asset filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs/student/*.fbx filter=lfs diff=lfs merge=lfs -text
